<div class="grid-container">
  <div
    id="z1"
    (drop)="drop($event, 'z1')"
    (dragover)="allowDrop($event)"
    class="z1 {{ dragged ? 'placholder' : '' }}"
  >
    <div
      id="drag1"
      draggable="true"
      (dragstart)="drag($event)"
      class="box drag"
    >
      <app-weather></app-weather>
    </div>
  </div>
  <div
    id="z2"
    (drop)="drop($event, 'z2')"
    (dragover)="allowDrop($event)"
    class="z2 {{ dragged ? 'placholder' : '' }}"
  >
    <!-- <div id="drag2" draggable="true" (dragstart)="drag($event)" class="box drag">
  
    </div> -->
  </div>
  <div
    id="z3"
    (drop)="drop($event, 'z3')"
    (dragover)="allowDrop($event)"
    class="z3 {{ dragged ? 'placholder' : '' }}"
  >
    <div
      id="drag3"
      draggable="true"
      (dragstart)="drag($event)"
      class="box drag"
    >
      <app-clock></app-clock>
    </div>
  </div>
  <div
    id="z4"
    (drop)="drop($event, 'z4')"
    (dragover)="allowDrop($event)"
    class="z4 {{ dragged ? 'placholder' : '' }}"
  >
    <div
      id="drag4"
      draggable="true"
      (dragstart)="drag($event)"
      class="box drag"
    >
      <app-forecast></app-forecast>
    </div>
  </div>
  <div
    id="z5"
    (drop)="drop($event, 'z5')"
    (dragover)="allowDrop($event)"
    class="z5 {{ dragged ? 'placholder' : '' }}"
  >
    <div
      id="drag5"
      draggable="true"
      (dragstart)="drag($event)"
      class="box drag"
    >
      <app-compliments></app-compliments>
    </div>
  </div>
  <div
    id="z6"
    (drop)="drop($event, 'z6')"
    (dragover)="allowDrop($event)"
    class="z6 {{ dragged ? 'placholder' : '' }}"
  >
    <div
      id="drag6"
      draggable="true"
      (dragstart)="drag($event)"
      class="box drag"
    >
      <iframe
        src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pevargas2730%40gmail.com&amp;color=%2329527A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FNew_York"
        style="border:solid 1px #777"
        width="100%"
        height="500"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
  </div>
  <div
    id="z7"
    (drop)="drop($event, 'z7')"
    (dragover)="allowDrop($event)"
    class="z7 {{ dragged ? 'placholder' : '' }}"
  >
    <!-- <div id="drag7" draggable="true" (dragstart)="drag($event)" class="box drag">
  
    </div> -->
  </div>
  <div
    id="z8"
    (drop)="drop($event, 'z8')"
    (dragover)="allowDrop($event)"
    class="z8 {{ dragged ? 'placholder' : '' }}"
  >
    <!-- <div id="drag8" draggable="true" (dragstart)="drag($event)" class="box drag">
  
    </div> -->
  </div>
  <div
    id="z9"
    (drop)="drop($event, 'z9')"
    (dragover)="allowDrop($event)"
    class="z9 {{ dragged ? 'placholder' : '' }}"
  >
    <div
      id="drag9"
      draggable="true"
      (dragstart)="drag($event)"
      class="box drag"
    >
      <app-map></app-map>
    </div>
  </div>
</div>
