.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: "z1 z2 z3" "z4 z5 z6" "z7 z8 z9";
  grid-gap: 10px;
  height: 100%;
  margin: 4px;
}

.z1,
.z2,
.z3,
.z4,
.z5,
.z6,
.z7,
.z8,
.z9 {
  display: flex;
  flex-direction: column;
}

//Top row
.z1 {
  grid-area: z1;
}

.z2 {
  grid-area: z2;
}

.z3 {
  grid-area: z3;
  text-align: right;
}

//Middle row
.z4 {
  grid-area: z4;
}

.z5 {
  grid-area: z5;
}

.z6 {
  grid-area: z6;
  text-align: right;
}

//Bottom Row
.z7 {
  grid-area: z7;
  padding-bottom: 24px;
  justify-content: flex-end;
}

.z8 {
  grid-area: z8;
  padding-bottom: 24px;
  justify-content: flex-end;
}

.z9 {
  grid-area: z9;
  padding-bottom: 24px;
  justify-content: flex-end;
  text-align: right;
}

#drag,
#drag1 {
  cursor: move;
  width: 100%;
}

.placholder {
  border: 2px dashed grey;
}
